{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h4>Your account information:</h4>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">{{current_user.email}}</td>
      <td scope="row">{{current_user.firstname}}</td>
      <td scope="row">{{current_user.lastname}}</td>
      <td scope="row">{{current_user.address}}</td>
    </tr>
    <tr>
      <td scope="row">
        <form action="{{ url_for('users.update_email')}}" method = "POST">
          <label for="newEmail">New Email: </label>
          <input type="email" id="newEmail" name="newEmail"><br><br>
          <input type="submit" value="Update Email">
        </form>
      </td>
      <td scope="row">
        <form action="{{ url_for('users.update_first_name')}}" method = "POST">
          <label for="NewFirst">New First Name: </label>
          <input type="text" id="newFirst" name="newFirst"><br><br>
          <input type="submit" value="Update First Name">
        </form>
      </td>
      <td scope="row">
        <form action="{{ url_for('users.update_last_name')}}" method = "POST">
          <label for="NewLast">New Last Name: </label>
          <input type="text" id="newLast" name="newLast"><br><br>
          <input type="submit" value="Update Last Name">
        </form>
      </td>
      <td scope="row">
        <form action="{{ url_for('users.update_address')}}" method = "POST">
          <label for="NewAddress">New Address: </label>
          <input type="text" id="newAddress" name="newAddress"><br><br>
          <input type="submit" value="Update Address">
        </form>
      </td>
    </tr>
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your account information!</p>
{% endif %}

{% endblock %}
