{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Your Cart:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Delete from Cart</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart_products%}
      <tr>
        <th scope="row">{{item.pid}}</th> <!-- product id -->
        <td>{{item.product_name}}</td> <!-- product name -->
        <td>  <!-- quantity -->
          <form action="{{ url_for('cart.change_item_qty') }}" method="POST">
            <input name="pid" value="{{item.pid}}" hidden="true">
            <input name="qty" value="-1" hidden="true">
            <input type="submit" value="-" />
          </form> 
          {{item.qty}} 
          <form action="{{ url_for('cart.change_item_qty') }}" method="POST">
            <input name="pid" value="{{item.pid}}" hidden="true">
            <input name="qty" value="1" hidden="true">
            <input type="submit" value="+" />
          </form>
        </td>
        <td>{{item.unit_price}}</td> <!-- unit price -->
        <td> <!-- delete from cart -->
          <form action="{{ url_for('cart.delete_from_cart', product_id=item.pid) }}"
          method="POST">
            <input type="submit" value="Delete from Cart"/>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<p>Total Price: ${{total_cart_price}}</p>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your cart!</p>
{% endif %}

{% endblock %}
