{% extends "base.html" %}

{% block content %}

<br><br>
<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Add to Wishlist</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><form action="{{ url_for('wishlist.wishList_add', product_id=product.id) }}"
          method="POST">
      <input type="submit" value="Add to Wishlist"/>
    </form>
    </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Purchase ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for purchase in purchase_history%}
      <tr>
        <th scope="row">{{purchase.id}}</th>
        <td>{{purchase.pid}}</td>
        <td>{{purchase.time_purchased}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<h2>Your recent reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Review ID</th>
      <!-- <th scope="col">Product or Seller ID</th> -->
      <!-- <th scope="col">Rating</th> -->
      <th scope="col">Review</th>
    </tr>
  </thead>
  <tbody>
    {% for review in review_history%}
      <tr>
        <th scope="row">{{review.id}}</th>
        <!-- <td>{{purchase.pid}}</td> -->
        <!-- <td>{{purchase.time_posted}}</td> -->
        <td>{{review.review_text}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
