{% extends "base.html" %} {% block content %}
{% if not seller %}
<br><br>
<h3>You are not currently a registered seller. Register in your
  <a href="{{ url_for('users.show_info') }}" type="button">profile.</a>
</h3>
{% else %}
<head>
  <style>
    .changeQuantity {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }
  </style>
</head>

<br>

<h2>Your Seller Inventory</h2>

<br>

<td>
  <form action="{{ url_for('inventory.inventory_add') }}" method="POST">
    <h5>Add a new product to your inventory by typing either the product ID or product name and its change in quantity:</h5>
    <input name="pid" placeholder="Product ID" />
    <input name="product_name" placeholder="Product name" />
    <input name="quantity" placeholder="Change in quantity" />
    <input type="submit" value="Add/modify product" />
  </form>
</td>  

<br>

<h5>You currently have {{items_length}} products listed for sale:</h5>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <!--th scope="col">#</th-->
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Description</th>
      <th scope="col">Current Selling Price</th>
      <th scope="col">Available Quantity</th>
      <th scope="col">Remove Product</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items%}
      <tr>
        <!--td>{{ loop.index + pagination.skip }}</td-->

        <th scope="row">{{item.pid}}</th>

        <td>{{item.product_name}}
          <form method="POST" action="">
            <label for="newName"></label>
            <input type="text" id="newName" name="newName">
            <input type="submit" value="Update Name" /><br /><br />
          </form>
        </td>
      
        <td>{{item.product_name}}

            <form method="POST" action="">
              <label for="newDes"></label>
              <input type="text" id="newDes" name="newDes">
              <input type="submit" value="Update Description" /><br /><br />
            </form>
            
        </td>

        <td>${{item.product_price}}

          <form method="POST" action="">
            <label for="newPrice"></label>
            <input type="text" id="newPrice" name="newPrice">
            <input type="submit" value="Update Price" /><br /><br />
          </form>
          
        </td>

        <td class="changeQuantity">
          <form action="{{ url_for('inventory.inventory_update_quantity') }}" method="POST">
            <input name="pid" value="{{item.pid}}" hidden="true" />
            <input name="quantity" value="-1" hidden="true" />
            <input type="submit" value="-" />
          </form>
          {{item.quantity}}
          <form action="{{ url_for('inventory.inventory_update_quantity') }}" method="POST">
            <input name="pid" value="{{item.pid}}" hidden="true" />
            <input name="quantity" value="1" hidden="true" />
            <input type="submit" value="+" />
          </form>
        </td>

        <td>
          <form action="{{ url_for('inventory.inventory_delete', product_id=item.pid) }}" method="POST">
            <input type="submit" value="Remove from inventory" />
          </form>
        </td>

      </tr>
    {% endfor %}
  </tbody>
</table>

{{ pagination.links }}
<h2>Add New Product</h2>
<td>
  <form action="{{ url_for('inventory.add_new_product_route') }}" method="POST">
    <h5>Add a new product to your inventory below:</h5>
    <input name="product_name" placeholder="Product name" />
    <input name="description" placeholder="Description" />
    <input name="price" placeholder="Price"/>
    <input name="quantity" placeholder="Quantity"/>
    <br>
    <input name="category" type="radio" value="Toys"> Toy </input>
    <input name="category" type="radio" value="Food"/> Food </input>
    <input name="category" type="radio" value="Electronic"/> Electronic </input>
    <input name="category" type="radio" value="Tools"/> Tools </input>
    <input name="category" type="radio" value="Clothes"/> Clothes </input>
    <input name="category" type="radio" value="Beauty"/> Beauty </input>
    <br><br>
    <input type="submit" value="Add product" />
  </form>
</td>  

{% endif %}
{% endblock %}