{% extends "base.html" %}

{% block content %}

<style>
  .productInfoContainer{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    gap: 40px;
    margin-left: 50px;
    margin-right: 50px;
    @media only screen and (max-width: 990px) {
      flex-direction: column;
      align-items: center;
    }
  }
  .leftContainer{
    /* @medxia only screen and (min-width: 992px){ max-width: 30%;} */
    /* max-width: 50%; */
    /* overflow: hidden; */
        /* max-height: 100vh; */
    /* overflow: auto; */
    @media only screen and (max-width: 990px) {
      max-width:fit-content;
    }
  }
  .rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
  }
  input{
      background-color: #FF9900;
  border-radius: 30px;
  border: none;
  color: black;
  padding: 10px;
  width: 300px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
    }
    input:hover{
      background-color: #FFB84D;
  border-radius: 30px;
  border: none;
  color: black;
  padding: 10px;
  width: 300px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
    }
    img{
      height: 550px;
    }
</style>
<br><br>
<!-- <h2>Product Info:</h2> -->
<!-- <table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Add to Wishlist</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody> -->
    {% for product in product_info%}
    <div class="productInfoContainer">
      <div class="leftContainer" >
        <img src="/static/images/gargi.jpeg">
      </div>
        <div class = "rightContainer">
          <div>
      <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <h1 style="font-weight: 400;">{{product.name}}</h1>
        <h1>${{product.price}}</h1>
      </div>
      {{product.description}}
    </div>
      <div style="width: 100%; display: flex; flex-direction:column; align-items: center; margin-top: 30px;">
        <form action="{{ url_for('cart.add_to_cart', product_id=product.id) }}"
          method="POST">
                 <input type="submit" value="Add to Cart"/>
        </form>
        <form action="{{ url_for('wishlist.wishList_add', product_id=product.id) }}"
          method="POST">
          <input type="submit" value="Add to Wishlist"/>
        </form>
      </div>
    </div></div>
    </div>
      <!-- <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td><form action="{{ url_for('wishlist.wishList_add', product_id=product.id) }}"
          method="POST">
          <input type="submit" value="Add to Wishlist"/>
            </form>
        </td>
        <td><img src="/static/images/gargi.jpeg" style="width:128px;height:128px;"></td>
      </tr> -->
    {% endfor %}
  <!-- </tbody>
</table> -->

  {% endblock %}