{% extends "base.html" %}

{% block content %}


<tbody>
  
    <!-- val = <script> document.getElementById("fname")</script> -->
    <form action="{{ url_for('products.products')}}" method = "POST">
      <label for="fname">Top K Most Expensive: </label>
      <input type="number" id="fname" name="fname"><br><br>
    </form>
    
</tbody>


<br><br>
<h2>Products for sale:</h2>
{{ pagination.info }}
{{ pagination.links }}
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th scope="col">Category</th>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Add to Wishlist</th>
      <th scope="col">Add to Cart</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>{{product.category}}</td>
        <th scope="row"><a href="{{ url_for('products.product_info', id=product.id) }}">{{product.id}}</a></th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><form action="{{ url_for('wishlist.wishList_add', product_id=product.id) }}"
          method="POST">
                 <input type="submit" value="Add to Wishlist"/>
            </form>
        </td>
        <td><form action="{{ url_for('cart.add_to_cart', product_id=product.id) }}"
          method="POST">
                 <input type="submit" value="Add to Cart"/>
            </form>
        </td>
        <td><img src="/static/images/gargi.jpeg" style="width:128px;height:128px;"></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
{% endblock %}
 