{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <title>Bootstrap demo</title>
    <style>
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .sidebar {
        width: max-content;
        height: max-content;
        min-height: max-content;
        overflow: auto;
        position: -webkit-sticky;
        position: sticky;
        top: 5%;
        padding-left: 10px;
      }
      .wrapper {
        display: flex;
      }
      .prodGrid {
        min-width: 88%;
        min-height: 100%;
      }
      .prodCat {
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>
  <body>
    <main class="wrapper">
      <div class="sidebar">
        <br />
        <form method="POST" action="{{ url_for('products.products')}}">
          <strong><label>Product Category:</label></strong
          ><br />
          <div class="prodCat">
            <div>
              <input type="radio" id="option1" name="options" value="toys" />
              <label for="option1">Toys</label>
            </div>
            <div>
              <input
                type="radio"
                id="option2"
                name="options"
                value="electronic"
              />
              <label for="option2">Electronic</label>
            </div>
            <div>
              <input type="radio" id="option3" name="options" value="clothes" />
              <label for="option3">Clothes</label>
            </div>
            <div>
              <input type="radio" id="option4" name="options" value="tools" />
              <label for="option4">Tools</label>
            </div>
            <div>
              <input type="radio" id="option5" name="options" value="food" />
              <label for="option5">Food</label>
            </div>
            <div>
              <input type="radio" id="option6" name="options" value="beauty" />
              <label for="option6">Beauty</label>
            </div>

            <br /><br />
          </div>
          <label><strong>Price Sort:</strong></label
          ><br />

          <input type="radio" id="option7" name="priceSort" value="ASC" />
          <label for="option7">Low &rarr; High</label>

          <input type="radio" id="option8" name="priceSort" value="DESC" />
          <label for="option8">High &rarr; Low</label><br />

          <input type="submit" value="Filter/ Sort Items" /><br /><br />
        </form>

        <form
          style="width: auto"
          action="{{ url_for('products.products')}}"
          method="POST"
        >
          <input type="submit" value="Reset Filters" />
        </form>
      </div>
      <div class="album py-5 bg-body-tertiary prodGrid">
        <div class="container">
          <h2>Products for sale:</h2>
          <div style="padding-bottom: 2em">{{ pagination.info }}</div>
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2"
          >
            {% for product in avail_products%}
            <div class="col" style="height: 100%">
              <div class="card shadow-sm">
                <a href="{{ url_for('products.product_info', id=product.id) }}">
                  <img
                    class="bd-placeholder-img card-img-top"
                    src="{{ product.image }}"
                    style="width: 100%; height: 337px; object-fit: cover"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                    aria-label="product image"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                /></a>
                <div class="card-body">
                  <!-- <p style="text-overflow: ellipsis"> -->
                  <div style="padding-bottom: 10px">
                    <a
                      style="
                        color: black;
                        width: 100%;
                        display: block;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        padding-bottom: 0px;
                      "
                      href="{{ url_for('products.product_info', id=product.id) }}"
                      >{{product.name}}</a
                    >
                    <a
                      href="{{url_for('products.cat_products', category =product.category)}}"
                    >
                      <small
                        class="text-body-secondary"
                        style="text-transform: capitalize"
                        >{{product.category}}</small
                      ></a
                    >
                  </div>
                  <!-- </p> -->
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div style="display: flex; flex-direction: column">
                      <small class="text-body-secondary"
                        >${{product.price}}</small
                      >
                      <div
                        style="
                          display: flex;
                          flex-direction: row;
                          align-items: center;
                          gap: 2px;
                        "
                      >
                        <small class="text-body-secondary"
                          >{{product.avgRating}}</small
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="#ffd500"
                          class="bi bi-star-fill"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                          />
                        </svg>
                      </div>
                    </div>
                    <div style="position: relative; width: max-content">
                      {% if current_user.is_authenticated %}
                      <form
                        style="width: auto"
                        action="{{ url_for('wishlist.wishList_add', product_id=product.id) }}"
                        method="POST"
                      >
                        <input type="submit" value="Add to Wishlist" />
                      </form>
                      <form
                        action="{{ url_for('cart.add_to_cart', product_id=product.id) }}"
                        method="POST"
                        style="width: 100%"
                      >
                        <input
                          type="submit"
                          value="Add to Cart"
                          style="width: 100%"
                        />
                      </form>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div style="margin: auto; width: fit-content; padding: 10px">
          {{ pagination.links }}
        </div>
      </div>
    </main>
    <script
      src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

{% endblock %}
