{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <title>Bootstrap demo</title>
    <style>
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <!-- <form action="{{ url_for('products.products')}}" method="POST">
      <label for="fname">Top K Most Expensive: </label>
      <input type="number" id="fname" name="fname" /><br /><br />
    </form> -->
    <form action="{{ url_for('products.products')}}" method="POST">
      <label for="stringMatch">Product Search by Name: </label>
      <input type="text" id="stringMatch" name="stringMatch" /><br /><br />
    </form>

    <form action="{{ url_for('products.products')}}" method="POST">
      <label for="topK">K Most Items: </label>
      <input type="number" id="topK" name="topK" /><br /><br />
    </form>

    <!-- 'toys', 'electronic', 'clothes', 'tools' -->

    <form>
      <input type="radio" id="option1" name="options" value="option1">
      <label for="option1">toys</label>
    
      <input type="radio" id="option2 " name="options" value="option2">
      <label for="option2">electronic</label>
    
      <input type="radio" id="option3 " name="options" value="option3">
      <label for="option3">clothes</label>

      <input type="radio" id="option3 " name="options" value="option3">
      <label for="option3">tools</label>
    </form>

    <form style="width: auto" action="" method="POST">
      <input type="submit" value="Filter Items" />
    </form>
    
    <main>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <h2>Products for sale:</h2>
          <div style="padding-bottom: 2em">{{ pagination.info }}</div>
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2"
          >
            {% for product in avail_products%}
            <div class="col" style="height: 100%">
              <div class="card shadow-sm">
                <a href="{{ url_for('products.product_info', id=product.id) }}">
                  <img
                    class="bd-placeholder-img card-img-top"
                    src="/static/images/gargi.jpeg"
                    width="100%"
                    height="100%"
                    xmlns="http://www.w3.org/2000/svg"
                    role="img"
                    aria-label="product image"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false"
                /></a>
                <div class="card-body">
                  <!-- <p style="text-overflow: ellipsis"> -->
                  <a
                    style="
                      color: black;
                      width: 100%;
                      display: block;
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      padding-bottom: 10px;
                    "
                    href="{{ url_for('products.product_info', id=product.id) }}"
                    >{{product.name}}</a
                  >
                  <!-- </p> -->
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <small class="text-body-secondary"
                      >${{product.price}}</small
                    >
                    <div>
                    <small class="text-body-secondary"
                      >{{product.category}}</small
                    ></div>
                    <div style="position: relative">
                      <form
                        style="width: auto"
                        action="{{ url_for('wishlist.wishList_add', product_id=product.id) }}"
                        method="POST"
                      >
                        <input type="submit" value="Add to Wishlist" />
                      </form>
                      <form
                        action="{{ url_for('cart.add_to_cart', product_id=product.id) }}"
                        method="POST"
                      >
                        <input
                          style="width: 100%"
                          type="submit"
                          value="Add to Cart"
                        />
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div style="margin: auto; width: fit-content; padding: 10px">
          {{ pagination.links }}
        </div>
      </div>
    </main>
    <script
      src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
  <!--
  <body>
    <tbody>
      <form action="{{ url_for('products.products')}}" method="POST">
        <label for="fname">Top K Most Expensive: </label>
        <input type="number" id="fname" name="fname" /><br /><br />
      </form>
    </tbody>

    <br /><br />
    <h2>Products for sale:</h2>
    {{ pagination.info }} {{ pagination.links }}
    <table class="table table-hover table-bordered container">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Price</th>
          <th scope="col">Add to Wishlist</th>
          <th scope="col">Add to Cart</th>
          <th scope="col">Photo</th>
        </tr>
      </thead>
      <tbody>
        {% for product in avail_products%}
        <tr>
          <td>
            <a
              style="color: black"
              href="{{ url_for('products.product_info', id=product.id) }}"
              >{{product.name}}</a
            >
          </td>
          <td>{{product.price}}</td>
          <td>
            <form
              action="{{ url_for('wishlist.wishList_add', product_id=product.id) }}"
              method="POST"
            >
              <input type="submit" value="Add to Wishlist" />
            </form>
          </td>
          <td>
            <form
              action="{{ url_for('cart.add_to_cart', product_id=product.id) }}"
              method="POST"
            >
              <input type="submit" value="Add to Cart" />
            </form>
          </td>
          <td>
            <a href="{{ url_for('products.product_info', id=product.id) }}"
              ><img
                src="/static/images/gargi.jpeg"
                style="width: 128px; height: 128px"
            /></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {{ pagination.links }} {% endblock %}
  </body>
--></html>
