{% extends "base.html" %}

{% block content %}

<h1>User {{user_info.id}}</h1>
<h2>{{user_info.firstname}} {{user_info.lastname}}</h2>

{% if seller %}
<br><br>
<h1>Seller Info:</h1>
<h2>Email: {{user_info.email}}</h2>
<h2>Address: {{user_info.address}}</h2>
<br>
<h2>Recent Reviews:</h2>
<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">Product ID</th> -->
      <th scope="col">Seller</th>
      <th width="50px" scope="col">Rating</th>
      <th width="50%" scope="col">Review</th>
      <th scope="col">Post Date</th>
    </tr>
  </thead>
  <tbody>
    {% for review in review_history%}
    <tr>
      <td>{{review.first_name}} {{review.last_name}}</td>
        <td style="text-align: center">
          {{review.rating}}
        </td>
        <td>
          <div>
            <body
              style="width: 100%"
              rows="3"
            >
{{review.review_text}}</body
            >
          </div>
        </td>
        <td>{{review.time_posted}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}