{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Your Purchases:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Purchase Fulfilled?</th>
      <th scope="col">Order Fulfilled?</th>

      <!-- O.id, O.uid, P.pid, P.qty, Pr.name, P.unit_price, P.purchase_fulfilled, O.order_fulfilled -->


    </tr>
  </thead>
  <tbody>
    {% for item in all_purchases%}
      <tr>
        <th scope="row">
          <a href="{{ url_for('order.get_order', oid=item.oid) }}"> {{item.oid}} </a>
        </th> 
        <td>{{item.product_name}}</td>
        <td>{{item.qty}}</td>
        <td>{{item.unit_price}}</td>
        <td>{{item.purchase_fulfilled}}</td>
        <td>{{item.order_fulfilled}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your orders!</p>
{% endif %}

{% endblock %}
