{% extends "base.html" %}

{% block content %}



<br><br>
{% if current_user.is_authenticated %}
<h2>Your recent reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">Product ID</th> -->
      <th scope="col">Product Name</th>
      <th scope="col">Review</th>
      <th scope="col">Post Date</th>
    </tr>
  </thead>
  <tbody>
    {% for review in review_history%}
      <tr>
        <!-- <td>{{review.pid}}</td> -->
        <td><a style="color: black;" href="{{ url_for('products.product_info', id=review.pid) }}">{{review.name}}</a></td>
        <td>
          <!-- <div id="currReview">{{review.review_text}}</div> -->
    
          <form id="updateReview" action="{{ url_for('reviews.update_review', id=review.id)}}" method = "POST">
          <!-- <input type="review" id="newReview" name="newReview" value="{{review.review_text}}"><br><br> -->
          <textarea id="newReview" name="newReview" rows="4" cols="50">{{review.review_text}}</textarea>
          <input type="submit" value="Update Review">
         </form>
         <!-- <button id=editBtn onclick="myFunction()">Edit</button> -->
        </td>
        <td>{{review.time_posted}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your review history!</p>
{% endif %}
<script>
  function myFunction() {
  var x = document.getElementById("updateReview");
  // var curr = document.getElementById("currReview");
  // var btn = document.getElementById("editBtn");
  if (x.style.display === "none") {
    x.style.display = "block";
    // curr.style.display = "none"
    // btn.innerHTML = "Cancel"
  } else {
    x.style.display = "none";
    // curr.style.display = "block"
    // btn.innerHTML = "Edit"
  }
}
</script>
{% endblock %}