{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
{% if not seller %}
<h3>You are not currently a registered seller. Register in your
  <a href="{{ url_for('users.show_info') }}" type="button">profile.</a>
</h3>
{% endif %}
{% if seller %}
<h2>Your Seller Order History</h2>

<br>
<form action="{{ url_for('order.seller_orders', sid = current_user.id)}}" method="POST">
  <label for="stringMatch">Search by Order ID:</label>
  <input type="text" id="stringMatch" name="stringMatch" /><br /><br />
</form>

<form method="POST" action="{{ url_for('order.seller_orders', sid = current_user.id)}}">
  <label>Filter Orders by Fulfillment Status:</label><br />
  <div class="filterStatus">
    <div>
      <input type="radio" id="option1" name="options" value="Fulfilled" />
      <label for="option1">Fulfilled</label>
    </div>
    <div>
      <input type="radio" id="option2" name="options" value="Not fulfilled" />
      <label for="option2">Not fulfilled</label>
    </div>
  </div>
  <input type="submit" value="Filter Orders" /><br /><br />
</form>

<h5>Click on a specific order ID to view an order summary and edit its fulfillment status.</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Total Number of Items Sold</th>
      <th scope="col">Total Order Revenue</th>
      <th scope="col">Your Order Fulfillment Status</th>
      <th scope="col">Date of Purchase</th>
    </tr>
  </thead>
  <tbody>
    {% for oid in oids_list%}
      <tr>
        <th scope="row"><a href="{{url_for('order.seller_order_details', sid=current_user.id, oid = oid) }}">{{oid}}</a></th>
        <td>{{num_items[oid]}}</td>
        <td>${{revenue[oid]}}</td>

        {% if fulfillment[oid]=="Not fulfilled" %}
        <td style="color:#FF0000;">{{fulfillment[oid]}}</td>
        {% else %}
        <td style="color:#23A129;">{{fulfillment[oid]}}</td>
        {% endif %}

        <td>{{purchase_date[oid]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }} 

{% endif %}
{% endif %}

{% endblock %}