{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Your Seller Order History</h2>
<h5>Click on a specific order ID to view an order summary and edit its fulfillment status.</h5>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Total Number of Items Sold</th>
      <th scope="col">Total Order Revenue</th>
      <th scope="col">Your Order Fulfillment Status</th>
      <th scope="col">Date of Purchase</th>
    </tr>
  </thead>
  <tbody>
    {% for oid in oids_list%}
      <tr>
        <th scope="row">{{oid}}</th>
        <td>{{num_items[oid]}}</td>
        <td>${{revenue[oid]}}</td>

        {% if fulfillment[oid]=="Not fulfilled" %}
        <td style="color:#FF0000;">{{fulfillment[oid]}}</td>
        {% else %}
        <td style="color:#23A129;">{{fulfillment[oid]}}</td>
        {% endif %}

        <td>{{purchase_date[oid]}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}