<table class="table table-hover table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Add to Cart?</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for item in saved_items %}
    <tr>
      <td>
        <a href="{{ url_for('products.product_info', id=item.pid) }}"
          >{{item.product_name}}</a
        >
      </td>
      <!-- product name -->
      <td>${{item.unit_price}}</td>
      <!-- unit price -->
      <td>
        <!-- add back to cart -->
        <form
          action="{{ url_for('saveForLater.add_saved_to_cart', product_id=item.pid) }}"
          method="POST"
        >
          <input type="submit" value="Add to Cart" />
        </form>
      </td>
      <td>
        <!-- delete from saved -->
        <form
          action="{{ url_for('saveForLater.delete_from_saved', product_id=item.pid) }}"
          method="POST"
        >
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
