{% extends "base.html" %}

{% block content %}

<br><br>
{% if current_user.is_authenticated %}
<h2>Your wishlist:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Time Stamp</th>
    </tr>
  </thead>
  <tbody>
    {% for wish in wishlist%}
      <tr>
        <th scope="row">{{wish.pid}}</th>
        <td>{{humanize_time(wish.time_added)}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>
{% endif %}

{% endblock %}
